
body {
  font-family: Arial, sans-serif;
  background-color:white;
  color: #333;
  margin: 0;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #2c3e50;
}


form {
  width: 60%;
  margin: 20px 200px ;
  background-color:white;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  
  width: 180px;
  font-weight: bold;
}


input,
select,
textarea {
  width: 30%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.invalid {
  background-color: #ffb3b3; /* light red */
}

input[type="radio"],
input[type="checkbox"],
input[type="color"] {
 width:10px;
  margin-right: 8px;
}


input[type="submit"],
input[type="reset"] {
  width: 100px;
  margin-right: 10px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}


input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #2c3e50;
}
input.error {
    background-color: red; 
    
}